@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,700;1,900&family=Open+Sans:ital,wght@1,500&display=swap');

* {
    padding: 0 ;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
